p{
    color: red;
}
h1{
    background-color: blue;
}
h3{
    color: aqua;
}
ul li a {
    text-decoration: none;
    
}
ul li {
 list-style: none;
 margin: 10px;
 font-weight: 800px;
 font-size: 20px;
 
}
ul{
    display: flex;
    
}
